In [234]:
import pandas as pd

In [235]:
df = pd.read_csv("csv_volumi/ANCIPA_rows.csv")

In [236]:
df.head()

,0,1,2,3,4,5,6,7,8,9,SourceFile,TableIndex,10,11,12
0,ANCIPA,TROINA,"30,40","7,04","9,17","-2,13","4,67",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-10.pdf,0,NaN,NaN,NaN
1,ANCIPA,TROINA,"30,40","23,42","25,60","-2,18","23,36",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-06.pdf,0,NaN,NaN,NaN
2,ANCIPA,TROINA,"30,40","25,60","24,61","0,99","23,76",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-05.pdf,0,NaN,NaN,NaN
3,ANCIPA,TROINA,"30,40","5,83","0,20","5,63","6,86",IRR. - POT. - ELETTR,. E.N.E.L.,NaN,inv_2013-01.pdf,0,NaN,NaN,NaN
4,ANCIPA,TROINA,"30,40","24,61","23,85","0,76","23,04",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-04.pdf,0,NaN,NaN,NaN

In [237]:
#df = df.drop(["1", "7", "8", "9", "10", "11", "12"], axis=1)

In [238]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'SourceFile',
       'TableIndex', '10', '11', '12'],
      dtype='object')

In [239]:
df.head()
df.tail(100)

,0,1,2,3,4,5,6,7,8,9,SourceFile,TableIndex,10,11,12
359,ANCIPA,TROINA,"30,40","10,96","11,82","-0,86","11,19",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,Prospetto%20volumi%20invasi%20Dicembre%202022....,0,NaN,NaN,NaN
360,ANCIPA,TROINA,"30,40","22,88","22,68","0,20","7,90",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2022-02.pdf,0,NaN,NaN,NaN
361,ANCIPA,TROINA,"30,40","23,06","25,50","-2,44","21,93",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2022-05.pdf,0,NaN,NaN,NaN
362,ANCIPA,TROINA,"30,40","13,80","17,34","-3,54","12,03",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,Prospetto%20volumi%20invasi%20Ottobre%202022.pdf,0,NaN,NaN,NaN
363,ANCIPA,TROINA,"30,40","22,01","22,88","-0,87","12,29",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2022-03.pdf,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Ancipa,ENEL,NaN,"30.410.000,00","927,86","7 .354.887,00","3.554.887,00",NaN,NaN,NaN,Situazione_volumi_invasati_AdB_Sicilia_20_Mag_...,0,NaN,NaN,NaN
455,Ancipa,ENEL,NaN,"30.410.000,00","921,18","4.192.315,00","2.192.315,00",NaN,NaN,NaN,1_Situazione_volumi_invasati_AdB_Sicilia_22_Lu...,0,NaN,NaN,NaN
456,1,Ancipa,ENEL,NaN,"30.410.000,00","909,55","1.457.207,86",NaN,NaN,NaN,1__Situazione_volumi_invasati_AdB_Sicilia_30_S...,0,NaN,NaN,NaN
457,1,Ancipa,ENEL,NaN,"30.410.000,00","906,08","1.006.313,34",NaN,NaN,NaN,_Situazione_volumi_invasati_AdB_Sicilia_21_Ott...,0,NaN,NaN,NaN
458,Ancipa,ENEL,NaN,"30.410.000,00","930,92","9.248.762,00","5.448.762,00",NaN,NaN,NaN,1_Situazione_volumi_invasati_AdB_Sicilia_11_Ma...,0,NaN,NaN,NaN

In [240]:
#df = df[df.iloc[:, 0].astype(str).str.contains("ancipa", case=False, na=False)]

In [241]:
df

,0,1,2,3,4,5,6,7,8,9,SourceFile,TableIndex,10,11,12
0,ANCIPA,TROINA,"30,40","7,04","9,17","-2,13","4,67",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-10.pdf,0,NaN,NaN,NaN
1,ANCIPA,TROINA,"30,40","23,42","25,60","-2,18","23,36",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-06.pdf,0,NaN,NaN,NaN
2,ANCIPA,TROINA,"30,40","25,60","24,61","0,99","23,76",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-05.pdf,0,NaN,NaN,NaN
3,ANCIPA,TROINA,"30,40","5,83","0,20","5,63","6,86",IRR. - POT. - ELETTR,. E.N.E.L.,NaN,inv_2013-01.pdf,0,NaN,NaN,NaN
4,ANCIPA,TROINA,"30,40","24,61","23,85","0,76","23,04",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-04.pdf,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Ancipa,ENEL,NaN,"30.410.000,00","927,86","7 .354.887,00","3.554.887,00",NaN,NaN,NaN,Situazione_volumi_invasati_AdB_Sicilia_20_Mag_...,0,NaN,NaN,NaN
455,Ancipa,ENEL,NaN,"30.410.000,00","921,18","4.192.315,00","2.192.315,00",NaN,NaN,NaN,1_Situazione_volumi_invasati_AdB_Sicilia_22_Lu...,0,NaN,NaN,NaN
456,1,Ancipa,ENEL,NaN,"30.410.000,00","909,55","1.457.207,86",NaN,NaN,NaN,1__Situazione_volumi_invasati_AdB_Sicilia_30_S...,0,NaN,NaN,NaN
457,1,Ancipa,ENEL,NaN,"30.410.000,00","906,08","1.006.313,34",NaN,NaN,NaN,_Situazione_volumi_invasati_AdB_Sicilia_21_Ott...,0,NaN,NaN,NaN
458,Ancipa,ENEL,NaN,"30.410.000,00","930,92","9.248.762,00","5.448.762,00",NaN,NaN,NaN,1_Situazione_volumi_invasati_AdB_Sicilia_11_Ma...,0,NaN,NaN,NaN

In [242]:
import re
from dateutil import parser

def extract_dates(text):
    """
    Extract dates from a string in multiple formats and return them as datetime objects.
    Supports partial dates (year-month, month-day, etc.).
    """
    # Regex patterns for different date formats
    patterns = [
        r"\b(?:\d{4}-\d{2}-\d{2})\b",   # YYYY-MM-DD
        r"\b(?:\d{4}-\d{2})\b",         # YYYY-MM
        r"\b(?:[A-Za-z]{3,9}-\d{1,2})\b" # MonthName-DD (e.g., Sept-25)
    ]
    
    all_matches = []
    for pat in patterns:
        matches = re.findall(pat, text)
        all_matches.extend(matches)
    
    parsed_dates = []
    for m in all_matches:
        try:
            # Parse flexibly with dateutil
            dt = parser.parse(m, fuzzy=True, default=None)
            parsed_dates.append(dt)
        except Exception:
            pass
    
    return parsed_dates

In [243]:
dates = df["SourceFile"].values
dates

array(['inv_2013-10.pdf', 'inv_2013-06.pdf', 'inv_2013-05.pdf',
       'inv_2013-01.pdf', 'inv_2013-04.pdf', 'inv_2013-09.pdf',
       'inv_2013-11.pdf', 'inv_2013-12.pdf', 'inv_2013-07.pdf',
       'inv_2013-02.pdf', 'inv_2013-03.pdf', 'inv_2013-08.pdf',
       'inv_2012-02.pdf', 'inv_2012-03.pdf', 'inv_2012-01.pdf',
       'inv_2012-06.pdf', 'inv_2012-11.pdf', 'inv_2012-08.pdf',
       'inv_2012-05.pdf', 'inv_2012-04.pdf', 'inv_2012-09.pdf',
       'inv_2012-12.pdf', 'inv_2012-10.pdf', 'inv_2012-07.pdf',
       'inv_2021-01.pdf', 'Prospetto%20Volumi%20invasati%20settembre.pdf',
       'inv_2021-05%20(1).pdf', 'inv_2021-07.pdf',
       'Prospetto%20volumi%20invasati%20Giugno%202021_0.pdf',
       'Gmail%20-%20I-%20Volumi%20invaso%201%20marzo%202021.pdf',
       '2_inv_2021-08.pdf', 'inv_2020-11.pdf', 'inv_2021-02.pdf',
       'inv_2021-04.pdf', 'inv_2021-10.pdf',
       '2023.04.01_A_Tabella_volumi_invasi.pdf',
       '2023.07.01_A_Tabella_volumi_invasi.pdf',
       '2023.09.01_A_Tabella_volumi_invasi_0.pdf',
       '2023.11.01_A_Tabella_volumi_invasi.pdf',
       '2023.10.01_A_Tabella_volumi_invasi.pdf',
       'Prospetto%20volumi%20invasi%20Gennaio%202023.pdf',
       '2023.03.01_A_Tabella_volumi_invasi.pdf',
       '2023.05.01_A_Tabella_volumi_invasi.pdf',
       'Prospetto%20volumi%20invasi%20Febbraio%202023.pdf.pdf',
       'PROSPETTO%20VOLUMI%20INVASATI%20NELLE%20DIGHE%20AGOSTO%202023.pdf',
       '2023.06.01_A_Tabella_volumi_invasi.pdf',
       '2023.12.01_A_Tabella_volumi_invasi.pdf', 'inv_2014-10.pdf',
       'inv_2014-02.pdf', 'inv_2014-05.pdf', 'inv_2014-11.pdf',
       'inv_2014-04.pdf', 'inv_2014-01.pdf', 'inv_2014-06.pdf',
       'inv_2014-09.pdf', 'inv_2014-08.pdf', 'inv_2014-03.pdf',
       'inv_2014-12.pdf', 'inv_2014-07.pdf', 'inv_2016-06.pdf',
       'inv_2016-12.pdf', 'inv_2016-09.pdf', 'inv_2016-03.pdf',
       'inv_2016-04.pdf', 'inv_2016-05.pdf', 'inv_2016-11.pdf',
       'inv_2016-02.pdf', 'inv_2016-10.pdf', 'inv_2016-01.pdf',
       'inv_2016-08.pdf', 'inv_2016-07.pdf', 'inv_2020-01_0.pdf',
       'inv_2020-05_0.pdf', 'inv_2020-06_0.pdf', 'inv_2020-02_0.pdf',
       'inv_2020-11_1.pdf', 'inv_2020-12_0.pdf', 'inv_2020-08_0.pdf',
       'inv_2020-09_0.pdf', 'inv_2020-03_0.pdf', 'inv_2020-04_0.pdf',
       'inv_2020-07%20%281%29_0.pdf', 'inv_2020-10_0.pdf',
       'inv_2019-03.pdf', 'inv_2019-04.pdf', 'inv_2019-10.pdf',
       'inv_2019-11.pdf', 'inv_2019-01.pdf', 'inv_2019-08.pdf',
       'inv_2019-06.pdf', 'inv_2019-12.pdf', 'inv_2019-09.pdf',
       'inv_2019-05.pdf', 'inv_2019-02.pdf', 'inv_2019-07.pdf',
       '2025-07-5-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-4-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-28-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-13-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-28-Volume%20Giornaliero.pdf',
       '2025-01-28-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-14-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-4-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-17-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-03-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-08-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-01-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-7-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-1-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-2-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-16-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-19-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-7-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-26-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-7-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-14-Volume%20Giornaliero%20Potabile_rev.pdf',
       '2025-02-22-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-25-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-26-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-14-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-29-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-17-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-20-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-21-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-7-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-07-Volume%20Giornaliero%20potabile%20%281%29.pdf',
       '2025-05-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-20-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-3-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-10-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-21-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-31-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-11-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-5-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-15-Volume%20Giornaliero%20potabile_0.pdf',
       '2025-09-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-9-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-07-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-25-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-26-Volume%20Giornaliero%20potabile_0.pdf',
       '2025-07-25-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-17-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-26-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-24-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-5-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-02-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-29-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-1-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-05-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-09-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-25-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-23-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-18-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-24-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-1-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-4-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-9-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-01-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-14-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-25-Volume%20Giornaliero%20potabile_0.pdf',
       '2025-09-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-16-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-8-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-25-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-22-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-29-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-14-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-24-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-1-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-6-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-18%20-%20Volume%20Giornaliero%20potabile.pdf',
       '05.03.2025.pdf', '2025-09-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-27-Volume%20Giornaliero%20Potabile_0.pdf',
       '2025-05-2-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-2-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-31-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-26-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-4-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-9-Volume%20Giornaliero%20Potabile_0.pdf',
       '2025-08-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-08-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-6-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-15-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-26-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-31-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-6-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-28-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-28-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-18-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-27-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-14-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-27-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-3-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-8-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-09-Volume%20Giornaliero%20Potabile_REV.pdf',
       '2025-02-20-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-1-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-29-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-3-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-26-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-21-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-27-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-16-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-10-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-12-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-25-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-24-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-8-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-7-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-23-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-4-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-27-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-24-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-2-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-24-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-28-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-29-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-29-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-06-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-6-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-18-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-2-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-23-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-13-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-15-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-9-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-5-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-10-Volume%20Giornaliero%20potabile_Refuso.pdf',
       '2025-02-12-Volume%20Giornaliero%20potabile.pdf',
       '2025-08-11-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-18-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-3-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-14-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-10-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-8-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-03-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-24-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-19-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-23-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-8-Volume%20Giornaliero%20Potabile.pdf',
       '2025-01-29-Volume%20Giornaliero%20potabile.pdf',
       '2025-05-10-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-14-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-31-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-23-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-23-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-22-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-18-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-10-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-02-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-10-Volume%20Giornaliero%20Potabile_rev.pdf',
       '2025-04-16-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-23-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-25-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-24-Volume%20Giornaliero%20Potabile.pdf',
       '2025-03-04-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-3-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-9-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-19-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-26-Volume%20Giornaliero%20potabile.pdf',
       '2025-07-6-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-1-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-12-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-18-Volume%20Giornaliero.pdf',
       '2025-06-04-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-15-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-27-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-18-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-6-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-5-Volume%20Giornaliero%20potabile.pdf',
       '2025-06-30-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-28-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-2-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-4-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-23-Volume%20Giornaliero%20Potabile_0.pdf',
       '2025-09-8-Volume%20Giornaliero%20Potabile_0.pdf',
       '2025-01-30-Volume%20Giornaliero%20potabile.pdf',
       '2025-01-22-Volume%20Giornaliero%20potabile.pdf',
       '2025-04-28-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-20-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-5-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-31-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-27-Volume%20Giornaliero%20Potabile.pdf',
       '2025-07-7-Volume%20Giornaliero%20Potabile.pdf',
       '2025-08-9-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-06-Volume%20Giornaliero%20Potabile.pdf',
       '2025-04-27-Volume%20Giornaliero%20Potabile.pdf',
       '2025-06-19-Volume%20Giornaliero%20Potabile.pdf',
       '2025-09-10-Volume%20Giornaliero%20Potabile.pdf',
       '2025-02-13-Volume%20Giornaliero%20potabile.pdf',
       '2025-03-11-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-23-Volume%20Giornaliero%20potabile.pdf',
       '2025-02-21-Volume%20Giornaliero%20potabile.pdf',
       '2025-09-17-Volume%20Giornaliero%20Potabile.pdf',
       '2025-05-3-Volume%20Giornaliero%20Potabile.pdf', 'inv_2018-04.pdf',
       'inv_2018-11.pdf', 'inv_2018-10.pdf', 'inv_2018-02.pdf',
       'inv_2018-12.pdf', 'inv_2018-09.pdf', 'inv_2018-03.pdf',
       'inv_2018-07.pdf', 'inv_2018-06.pdf', 'inv_2018-01.pdf',
       'inv_2018-08.pdf', 'inv_2018-05.pdf',
       'Prospetto%20volumi%20invasi%20Settembre%202022.pdf.pdf',
       'Prospetto%20volumi%20invasi%20Dicembre%202022.pdf_0.pdf',
       'inv_2022-02.pdf', 'inv_2022-05.pdf',
       'Prospetto%20volumi%20invasi%20Ottobre%202022.pdf',
       'inv_2022-03.pdf', 'inv_2022-01_corretto%20Anno%202022.pdf',
       'Prospetto%20volumi%20invasi%20Giugno%202022.pdf',
       'inv_2022-04.pdf',
       'Prospetto%20volumi%20invasi%20Luglio%202022.pdf.pdf',
       'Prospetto%20volumi%20invasi%20Novembre%202022.pdf.pdf',
       'Prospetto%20volumi%20invasi%20Agosto%202022.pdf',
       'inv_2011-05.pdf', 'inv_2011-02.pdf', 'inv_2011-04.pdf',
       'inv_2011-08.pdf', 'inv_2011-11.pdf', 'inv_2011-09.pdf',
       'inv_2011-12.pdf', 'inv_2011-03.pdf', 'inv_2011-07.pdf',
       'inv_2011-06.pdf', 'inv_2011-10.pdf', 'inv_2011-01.pdf',
       'inv_2017-09.pdf', 'inv_2017-01.pdf', 'inv_2017-07.pdf',
       'inv_2017-05.pdf', 'inv_2017-10.pdf', 'inv_2017-12.pdf',
       'inv_2017-03.pdf', 'inv_2017-08.pdf', 'inv_2017-04.pdf',
       'inv_2017-06.pdf', 'inv_2017-11.pdf', 'inv_2017-02.pdf',
       'inv_2015-10.pdf', 'inv_2015-12.pdf', 'inv_2015-05.pdf',
       'inv_2015-03.pdf', 'inv_2015-02.pdf', 'inv_2015-07.pdf',
       'inv_2015-06.pdf', 'inv_2015-01.pdf', 'inv_2015-04.pdf',
       'inv_2015-09.pdf', 'inv_2015-08.pdf', 'inv_2015-11.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_28_Ott_2024_0.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_13_Mag_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_27_Mag_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_29_Gen_2024.pdf',
       '0_Situazione_volumi_invasati_AdB_Sicilia_29_Lug_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_5_ago_2024.pdf',
       '0__Situazione_volumi_invasati_AdB_Sicilia_07_Ott_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_01_Gennaio_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_22_Apr_2024.pdf',
       '1_Situazione_volumi_invasati_AdB_Sicilia_24_Giu_2024.pdf',
       '_Situazione_volumi_invasati_AdB_Sicilia_16_Dic_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_08_Gennaio_2024.pdf',
       'Situazione_invasi_2_settembre_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_15_Apr_2024-1.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_08_Apr_2024.pdf',
       '_Situazione_volumi_invasati_AdB_Sicilia_23_Dic_2024.pdf',
       '0__Situazione_volumi_invasati_AdB_Sicilia_02_Dic_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_25_Mar_2024.pdf',
       '_Situazione_volumi_invasati_AdB_Sicilia_14_Ott_2024_0.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_29_Apr_2024.pdf',
       '_Situazione_volumi_invasati_AdB_Sicilia_18_Nov_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_22_Gen_2024.pdf',
       'Situazione_volumi_invasati_AdB_Sicilia_01_Apr_2024.pdf',
       '_Situazione_volumi_invasati_AdB_Sicilia_30_Dic_2024.pdf',

In [244]:
def clean_string(value):
    value = value.replace("Situazione_volumi_invasati_", "")
    value = value.replace("AdB", "")
    value = value.replace("Sicilia_", "")
    value = value.replace("inv_", "")
    value = value.replace("REV", "")
    value = value.replace("Rev", "")
    value = value.replace("rev", "")
    value = value.replace("Refuso", "")
    value = value.replace("Volume%20Giornaliero%20Potabile", "")
    value = value.replace("%20", "")
    value = value.replace("correttoAnno2022", "")
    value = value.replace("ProspettoVolumiasati", "")
    value = value.replace("VolumeGiornaliero", "")
    value = value.replace("potabile", "")
    value = value.replace("ProspettoVolumiinvasati", "")
    value = value.replace("Prospettovolumiinvasati", "")
    value = value.replace("Prospettovolumiinvasi", "")
    value = value.replace("(1)", "")
    value = value.replace("%281%29", "")
    value = value.replace("_A_Tabella_volumi_invasi", "")
    value = value.replace("Gmail-I-Volumiinvaso", "")
    value = value.replace("Situazione_invasi_", "")
    value = value.replace("PROSPETTOVOLUMIINVASATINELLEDIGHE", "")
    value = value.replace(".pdf", "")
    
    return value

In [245]:
clean_dates = []
months = []
for date in dates:
    clean_date = clean_string(date)
    clean_dates.append(clean_date)

In [246]:
import re

def extract_month(date_list) -> int | None:
        
    months = {
    "gen": 1, "gennaio": 1,
    "feb": 2, "febbraio": 2,
    "mar": 3, "marzo": 3,
    "apr": 4, "aprile": 4,
    "mag": 5, "maggio": 5,
    "giu": 6, "giugno": 6,
    "lug": 7, "luglio": 7,
    "ago": 8, "agosto": 8,
    "set": 9, "settembre": 9,
    "ott": 10, "ottobre": 10,
    "nov": 11, "novembre": 11,
    "dic": 12, "dicembre": 12
    }

    for i, element in enumerate(date_list):
        if isinstance(element, str) and element.isdigit():
            n_mnt = '0'
        elif element == '16set':
            n_mnt = '09'
            return n_mnt
        else:
            mnt = element.lower()
            n_mnt = months[mnt]
            str_mnt = f"{n_mnt:02}" 
            return str_mnt
    
    return n_mnt

def extract_year(text: str) -> int | None:
    """
    Extract a year (1900-2099) from a string.
    Returns the first matching year as an integer, or None if not found.
    """
    pattern = r"\b(19\d{2}|20\d{2})\b"
    match = re.search(pattern, text)
    if match:
        return int(match.group(1))
    return None


def split_string(text: str) -> list[str]:
    """
    Split a string using multiple delimiters: underscore (_), dot (.), or dash (-)
    Returns a list of string parts.
    """
    # Regex: split on _, ., or -
    parts = re.split(r'[_\.-]', text)
    return [p for p in parts if p]  # Remove empty strings if any

def split_letters_numbers(text: str) -> list[str]:
    """
    Split a string into sequences of letters and numbers.
    E.g., "Novembre2022" -> ["Novembre", "2022"]
    """
    # Match consecutive letters or consecutive digits
    parts = re.findall(r'[A-Za-zÀ-ÿ]+|\d+', text)
    return parts

In [247]:
formatted_dates = []

for cd in clean_dates:
    this_cd = split_string(cd)
    
    if this_cd[-1] == '0':
        this_cd = this_cd[:-1]
    if (this_cd[0] == '0') or (this_cd[0] == '1'):
        this_cd = this_cd[1:]
    if len(this_cd) > 1:
        #print(this_cd)
        pass
    else:
        this_cd = split_letters_numbers(this_cd[0])
    
    for i, t in enumerate(this_cd):
        if len(t) > 3:
            year = t
            ind = i
    
    month = extract_month(this_cd)
    if not month == '0':
        if year == 'settembre':
            year = '2016'
        date_str = f'{year}-{month}'
    else:
        
        if this_cd[0] == '2':
            this_cd = this_cd[1:]
            
        if len(this_cd) == 2:
            
            if len(this_cd[1]) > len(this_cd[0]):
                date_str = f'{this_cd[1]}-{this_cd[0]}'
            else:
                date_str = f'{this_cd[0]}-{this_cd[1]}'
            
        elif len(this_cd) == 3:
            if len(this_cd[2]) > len(this_cd[0]):
                date_str = f'{this_cd[2]}-{this_cd[1]}-{this_cd[0]}'
            else:
                date_str = f'{this_cd[0]}-{this_cd[1]}-{this_cd[2]}'
            
    formatted_dates.append(date_str)

In [248]:
#df['dates'] = formatted_dates

In [249]:
#df = df.drop('TableIndex', axis=1)

In [250]:
df.head(100)

,0,1,2,3,4,5,6,7,8,9,SourceFile,TableIndex,10,11,12
0,ANCIPA,TROINA,"30,40","7,04","9,17","-2,13","4,67",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-10.pdf,0,NaN,NaN,NaN
1,ANCIPA,TROINA,"30,40","23,42","25,60","-2,18","23,36",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-06.pdf,0,NaN,NaN,NaN
2,ANCIPA,TROINA,"30,40","25,60","24,61","0,99","23,76",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-05.pdf,0,NaN,NaN,NaN
3,ANCIPA,TROINA,"30,40","5,83","0,20","5,63","6,86",IRR. - POT. - ELETTR,. E.N.E.L.,NaN,inv_2013-01.pdf,0,NaN,NaN,NaN
4,ANCIPA,TROINA,"30,40","24,61","23,85","0,76","23,04",IRR. - POT. - ELETTR.,E.N.E.L.,NaN,inv_2013-04.pdf,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,ANCIPA,ENEL,"30.410.000,00","950,00","30.410.000,00",n.d.,"946,65","24.022.651,51","22.022.651,51",2025-07-5-Volume%20Giornaliero%20Potabile.pdf,0,(**),"+ 0,0%","0,00"
96,1,ANCIPA,ENEL,"30.410.000,00","950,00","30.410.000,00",n.d.,"949,42","26.988.446,19","24.988.446,19",2025-04-4-Volume%20Giornaliero%20Potabile.pdf,0,NaN,"+ 0,0%",NaN
97,1,ANCIPA,ENEL,"30.410.000,00","950,00","30.410.000,00",n.d.,"940,59","17.579.730,40","15.579.730,40",2025-08-28-Volume%20Giornaliero%20Potabile.pdf,0,NaN,"- 0,2%","-61.932,89"
98,1,ANCIPA,ENEL,"30.410.000,00","950,00","30.410.000,00",n.d.,"948,18","25.660.798,03","23.660.798,03",2025-03-13-Volume%20Giornaliero%20potabile.pdf,0,NaN,"+ 0,1%",NaN
99,1,ANCIPA,ENEL,"30.410.000,00","950,00","30.410.000,00",n.d.,"948,68","26.196.140,03","24.196.140,03",2025-03-28-Volume%20Giornaliero.pdf,0,NaN,"+ 1,3%",NaN

In [260]:
import numpy as np

def remove_if_element(df: pd.DataFrame, index, target_type) -> pd.DataFrame:
    """
    Check each row of df, and if the first element is of target_type,
    remove it, shift the rest of the row left, and fill the last column with NaN.
    """
    def shift_row(row):
        if row.iloc[index] == target_type:
            row = row[1:].tolist() + [np.nan]  # shift left and add NaN at the end
        return pd.Series(row, index=df.columns)

    return df.apply(shift_row, axis=1)

In [264]:
df_ = remove_if_element(df, 0, '1')
df_ = remove_if_element(df_, 1, 'ENEL')

In [265]:
df_.drop(["0", "7", "12", "TableIndex", "11", "12", "10", "1", "8", "9", "SourceFile"], axis=1, inplace=True)
df_['dates'] = formatted_dates

In [266]:
df_.tail(100)

                 2       3              4             5      6    dates
359          30,40   10,96          11,82         -0,86  11,19  2022-12
360          30,40   22,88          22,68          0,20   7,90  2022-02
361          30,40   23,06          25,50         -2,44  21,93  2022-05
362          30,40   13,80          17,34         -3,54  12,03  2022-10
363          30,40   22,01          22,88         -0,87  12,29  2022-03
..             ...     ...            ...           ...    ...      ...
454  30.410.000,00  927,86  7 .354.887,00  3.554.887,00    NaN  2024-05
455  30.410.000,00  921,18   4.192.315,00  2.192.315,00    NaN  2024-07
456  30.410.000,00  909,55   1.457.207,86           NaN    NaN  2024-09
457  30.410.000,00  906,08   1.006.313,34           NaN    NaN  2024-10
458  30.410.000,00  930,92   9.248.762,00  5.448.762,00    NaN  2024-03

[100 rows x 6 columns]

In [273]:
def conv_date(date):
    dates = date.split('-')
    
    if len(dates) == 2:
        return [dates[0], dates[1], '01']
    elif len(dates) == 3:
        return dates
    
ys, ms, ds = [],[], []

for date in formatted_dates:
    y, m, d = conv_date(date)
    ys.append(y)
    ms.append(m)
    ds.append(d)
    
df_['year'] = ys
df_['month'] = ms
df_['day'] = ds

#df_.drop('dates', axis=1, inplace=True)
df_.head(50)

        2      3      4      5      6  year month day
0   30,40   7,04   9,17  -2,13   4,67  2013    10  01
1   30,40  23,42  25,60  -2,18  23,36  2013    06  01
2   30,40  25,60  24,61   0,99  23,76  2013    05  01
3   30,40   5,83   0,20   5,63   6,86  2013    01  01
4   30,40  24,61  23,85   0,76  23,04  2013    04  01
5   30,40   9,17  11,45  -2,28   6,89  2013    09  01
6   30,40   5,14   7,04  -1,90   1,16  2013    11  01
7   30,40   3,59   5,14  -1,55   0,20  2013    12  01
8   30,40  18,94  23,42  -4,48  16,65  2013    07  01
9   30,40  16,03   5,83  10,20  12,33  2013    02  01
10  30,40  23,85  16,03   7,82  21,08  2013    03  01
11  30,40  11,45  18,94  -7,49   9,45  2013    08  01
12  30,40  12,33   6,86   5,47   3,45  2012    02  01
13  30,40  21,08  12,33   8,75  15,78  2012    03  01
14  30,40   6,86   6,80   0,06   3,31  2012    01  01
15  30,40  23,36  23,76  -0,40  18,54  2012    06  01
16  30,40   1,16   4,67  -3,51   8,45  2012    11  01
17  30,40   9,45  16,65  -7,20  14,70  2012    08  01
18  30,40  23,76  23,04   0,72  17,85  2012    05  01
19  30,40  23,04  21,08   1,96  15,39  2012    04  01
20  30,40   6,89   9,45  -2,56  12,35  2012    09  01
21  30,40   0,20   1,16  -0,96   6,80  2012    12  01
22  30,40   4,67   6,89  -2,22  10,19  2012    10  01
23  30,40  16,65  23,36  -6,71  17,00  2012    07  01
24  30,40   5,92   6,44  -0,52  15,71  2021    01  01
25  30,40  14,19  16,61  -2,42  12,26  2016    09  01
26  30,40  21,93  19,31   2,62  22,01  2021    05  01
27  30,40  18,98  20,95  -1,97  18,83  2021    07  01
28  30,40  20,95  21,93  -0,98  20,55  2021    06  01
29  30,40  12,29   7,90   4,39  15,67  2021    03  01
30  30,40  16,61  18,98  -2,37  15,86  2021    08  01
31  30,40  10,99  12,03  -1,04   8,18  2020    11  01
32  30,40   7,90   5,92   1,98  15,73  2021    02  01
33  30,40  19,31  12,29   7,02  20,81  2021    04  01
34  30,40  12,03  14,19  -2,16  10,26  2021    10  01
35  30,40  16,69  13,40   3,29  25,50  2023    04  01
36  30,40  26,03  26,47  -0,44  21,76  2023    07  01
37  30,40  18,31  20,49  -2,18  17,34  2023    09  01
38  30,40  13,86  16,13  -2,27  11,82  2023    11  01
39  30,40  16,13  18,31  -2,18  13,80  2023    10  01
40  30,40  11,28  10,96   0,32  22,68  2023    01  01
41  30,40  13,40  12,52   0,88  22,01  2023    03  01
42  30,40  25,45  16,69   8,76  23,06  2023    05  01
43  30,40  12,52  11,28   1,24  22,88  2023    02  01
44  30,40  20,49  26,03  -5,54  19,50  2023    08  01
45  30.40  26.47  25.45   1.02  23.36  2023    06  01
46  30,40  11,86  13,86  -2,00  10,96  2023    12  01
47  30,40   7,79   9,91  -2,12   7,04  2014    10  01
48  30,40   8,61   7,39   1,22  16,03  2014    02  01
49  30,40  26,68  22,25   4,43  25,60  2014    05  01

In [274]:
df_.tail(50)

                 2       3              4             5    6  year month day
409  30.410.000,00  929,39   8.264.056,00  4.464.056,00  NaN  2024    01  01
410  30.410.000,00  920,25   3.858.092,00  1.858.092,00  NaN  2024    07  01
411  30.410.000,00  919,05   3.459.720,00  1.459.720,00  NaN  2024    08  01
412  30.410.000,00  908,18   1.265.883,00           NaN  NaN  2024    10  01
413  30.410.000,00  931,82   9.868.891,00  6.068.891,00  NaN  2024    01  01
414  30.410.000,00  929,16  8 .122.495,00  4.322.495,00  NaN  2024    04  01
415  30.410.000,00  924,48   5.589.747,00  3.589.747,00  NaN  2024    06  01
416  30.410.000,00  914,98   2.403.117,46       403.117  NaN  2024    12  01
417  30.410.000,00  931,12   9.383.478,00  5.583.478,00  NaN  2024    01  01
418  30.410.000,00  914,19   2.243.694,00    243.694,00  NaN  2024    09  01
419  30.410.000,00  929,37  8 .251.697,00  4.451.697,00  NaN  2024    04  01
420  30.410.000,00  929,89  8 .577.415,00  4.777.415,00  NaN  2024    04  01
421  30.410.000,00  920,36   3.896.410,02     1.896.410  NaN  2024    12  01
422  30.410.000,00  902,20     607.681,03           NaN  NaN  2024    12  01
423  30.410.000,00  930,74   9.128.802,00  5.328.802,00  NaN  2024    03  01
424  30.410.000,00  906,85   1.097.324,62           NaN  NaN  2024    10  01
425  30.410.000,00  928,93  7 .982.614,00  4.182.614,00  NaN  2024    04  01
426  30.410.000,00  900,90     495.641,69           NaN  NaN  2024    11  01
427  30.410.000,00  930,00   8.647.405,00  4.847.405,00  NaN  2024    01  01
428  30.410.000,00  930,38   8.892.232,00  5.092.232,00  NaN  2024    04  01
429  30.410.000,00  927,32   7.051.627,43     5.051.627  NaN  2024    12  01
430  30.410.000,00  903,15     696.269,06           NaN  NaN  2024    11  01
431  30.410.000,00  923,03   4.932.492,00  2.932.492,00  NaN  2024    07  01
432  30.410.000,00  926,65   6.686.756,00  4.686.756,00  NaN  2024    06  01
433  30.410.000,00  925,95   6.318.334,00  4.318.334,00  NaN  2024    06  01
434  30,410,000.00  911.84   1,811,887.18           NaN  NaN  2024    09  01
435  30.410.000,00  923,75   5.250.291,00  3.250.291,00  NaN  2024    07  01
436  30.410.000,00  917,00   2.865.656,00    865.656,00  NaN  2024    08  01
437  30.410.000,00  913,00   2.016.076,70     16.076,70  NaN  2024    09  01
438  30.410.000,00  901,66     560.129,83           NaN  NaN  2024    11  01
439  30.410.000,00  928,53   7.743.459,00  3.943.459,00  NaN  2024    03  01
440  30.410.000,00  922,05   4.527.477,00  2.527.477,00  NaN  2024    07  01
441  30.410.000,00  915,60   2.533.727,00    533.727,00  NaN  2024    08  01
442  30.410.000,00  928,57   7.767.137,00  3.967.137,00  NaN  2024    02  01
443  30.410.000,00  928,66  7 .820.611,00  4.020.611,00  NaN  2024    05  01
444  30.410.000,00  910,78   1.640.952,43           NaN  NaN  2024    09  01
445  30.410.000,00  927,87   7.360.578,00  3.560.578,00  NaN  2024    02  01
446  30.410.000,00  925,25   5.963.624,00  3.963.624,00  NaN  2024    06  01
447  30.410.000,00  918,10   3.168.650,00  1.168.650,00  NaN  2024    08  01
448  30.410.000,00  913,66   2.140.271,08       140.271  NaN  2024    12  01
449  30.410.000,00  930,59   9.029.699,00  5.229.699,00  NaN  2024    01  01
450  30.410.000,00  898,10     287.994,41           NaN  NaN  2024    11  01
451  30.410.000,00  927,10   6.930.430,00  3.130.430,00  NaN  2024    02  01
452  30.410.000,00  930,95   9.268.887,00  5.468.887,00  NaN  2024    03  01
453  30.410.000,00  927,10   6.930.430,00  3.130.430,00  NaN  2024    02  01
454  30.410.000,00  927,86  7 .354.887,00  3.554.887,00  NaN  2024    05  01
455  30.410.000,00  921,18   4.192.315,00  2.192.315,00  NaN  2024    07  01
456  30.410.000,00  909,55   1.457.207,86           NaN  NaN  2024    09  01
457  30.410.000,00  906,08   1.006.313,34           NaN  NaN  2024    10  01
458  30.410.000,00  930,92   9.248.762,00  5.448.762,00  NaN  2024    03  01

In [275]:
df_['3'].values

array(['7,04', '23,42', '25,60', '5,83', '24,61', '9,17', '5,14', '3,59',
       '18,94', '16,03', '23,85', '11,45', '12,33', '21,08', '6,86',
       '23,36', '1,16', '9,45', '23,76', '23,04', '6,89', '0,20', '4,67',
       '16,65', '5,92', '14,19', '21,93', '18,98', '20,95', '12,29',
       '16,61', '10,99', '7,90', '19,31', '12,03', '16,69', '26,03',
       '18,31', '13,86', '16,13', '11,28', '13,40', '25,45', '12,52',
       '20,49', '26.47', '11,86', '7,79', '8,61', '26,68', '5,95',
       '22,25', '7,39', '26,01', '9,91', '14,24', '13,71', '6,21',
       '22,91', '25,36', '3,53', '8,87', '16,93', '25,49', '25,60',
       '4,83', '17,38', '6,79', '13,99', '11,23', '19,40', '15,71',
       '22,01', '20,55', '15,73', '8,18', '6,44', '15,86', '12,26',
       '15,67', '20,81', '18,83', '10,26', '22,29', '19,19', '8,86',
       '6,91', '20,16', '13,07', '17,18', '9,83', '10,81', '16,46',
       '23,79', '15,20', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '941,64',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '942,50', '30.410.000,00',
       '30.410.000,00', '936,20', '938,80', '30.410.000,00',
       '30.410.000,00', '943,26', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '939,70', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '939,70', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '936,90', '30.410.000,00', '941,06', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '941,24',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '942,96', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '941,40',
       '942,33', '943,17', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '942,82', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '941,52', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '942,66', '30.410.000,00', '940,20', '30.410.000,00', '935,86',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '941,76',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '938,05', '30.410.000,00', '943,07', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '942,08', '940,20', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '30.410.000,00', '30.410.000,00', '30.410.000,00', '30.410.000,00',
       '22,75', '9,27', '10,96', '9,39', '13,20', '12,87', '18,10',
       '23,97', '22,38', '6,82', '15,88', '22,77', '17,34', '10,96',
       '22,88', '23,06', '13,80', '22,01', '22,68', '23,36', '25,50',
       '21,76', '11,82', '19,50', '17,85', '3,45', '15,39', '14,70',
       '8,45', '12,35', '6,80', '15,78', '17,00', '18,54', '10,19',
       '3,31', '12,31', '2,96', '16,79', '24,48', '9,85', '6,98', '16,06',
       '14,63', '23,03', '19,47', '8,39', '8,74', '7,41', '12,48',
       '21,00', '26,15', '19,11', '13,30', '20,49', '7,07', '26,41',
       '9,18', '11,43', '7,74', '904,64', '928,34', '927,20', '929,39',
       '920,25', '919,05', '908,18', '931,82', '929,16', '924,48',
       '914,98', '931,12', '914,19', '929,37', '929,89', '920,36',
       '902,20', '930,74', '906,85', '928,93', '900,90', '930,00',
       '930,38', '927,32', '903,15', '923,03', '926,65', '925,95',
       '911.84', '923,75', '917,00', '913,00', '901,66', '928,53',
       '922,05', '915,60', '928,57', '928,66', '910,78', '927,87',
       '925,25', '918,10', '913,66', '930,59', '898,10', '927,10',
       '930,95', '927,10', '927,86', '921,18', '909,55', '906,08',
       '930,92'], dtype=object)